footer {
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

.footer-content p {
  margin: 0;
  font-size: 14px;
}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #d9e1e8;
}
