<footer id="footer " class="bg-dark">
  <div class="footer-content ">
    <p>&copy; 2025 QuizHub. All rights reserved.</p>
    <div class="social-icons">
      <a href="https://facebook.com" target="_blank" title="Facebook">
        <i class="fab fa-facebook"></i>
      </a>
      <a href="https://twitter.com" target="_blank" title="Twitter">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://instagram.com" target="_blank" title="Instagram">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://linkedin.com" target="_blank" title="LinkedIn">
        <i class="fab fa-linkedin"></i>
      </a>
    </div>
  </div>
</footer>
