<div class="container-fluid">
    <div class="row">
        <div class="col-12 bg-primary ">
            <!-- <img src="assets/image/logo.png" height="80px" width="250px" alt="Quiz Logo"> -->
            <img src="https://quiz.konfhub.com/logos/logo-dark.svg" height="80px" width="350px" alt="QuizHub Logo (Purple)"/>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-6">
            <img src="https://coderquiz.com/static/media/quiz.693aff0980ffc08e62eb.png" alt="" height="350px" width="60%" class="mt-5 ml-5">
        </div>

        <div class="col-6 mt-5">
            <div class="text-center">
            <h1 >Level Up Your Learning Journey with QuizHub</h1>
            <p >An ultimate platform to sharpen your skills, showcase your expertise, prepare for technical interviews, and connect with a thriving technical community.</p>
            <h2 class="mt-3 r">Already have an account ?</h2>
            <button class="btn btn-warning rounded-pill text-white" routerLink="/login">Sign-in</button>
            <hr>
            <h2>New here?</h2>
            <button class="btn btn-dark  rounded-pill text-white" routerLink="/create">Create Account</button>
            <h2 class="mt-2">and join the challenge!</h2>
            </div>
        </div>
    </div>
</div>
